* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background: #f5f5f5;
	font-family: "Roboto", sans-serif;
}

.screen {
	display: none;
}
.screen.active {
	display: block;
}
.app {
	position: fixed;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	max-width: 500px;
	background: #fff;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}